# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Import libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import t
import numpy as np
from statsmodels.stats.weightstats import ztest as ztest
import matplotlib.pyplot as plt
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

df = pd.read_csv('Desktop/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Let's start off by looking at the `head` function in the cell below.

In [6]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [13]:
leg=df[df['Legendary']==True]
leg_c=df[df['Legendary']==True]['Legendary'].count()
n_leg=df[df['Legendary']==False]
n_leg_c=df[df['Legendary']==False]['Legendary'].count()
n_leg

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [20]:
leg.Total.apply([np.mean,np.std])
n_leg.Total.apply([np.mean,np.std])

mean    417.213605
std     106.760417
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [21]:
stats.ttest_ind(leg['Total'],n_leg['Total'],equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [22]:
print('p value less than 0.05, thus there is a diffeence between the means')

p value less than 0.05, thus there is a diffeence between the means

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [32]:
x=df['Type 1'].value_counts()
x

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [51]:
wat_stats=df[df['Type 1']=='Water'].apply([np.mean,np.std])
not_wat=df[df['Type 1']!='Water'].apply([np.mean,np.std])
print(wat_stats)
print(not_wat)
water=df[df['Type 1']=='Water']['Total']
water
rest=df[df['Type 1']!='Water']['Total']

               #       Total         HP     Attack    Defense    Sp. Atk  \
mean  303.089286  430.455357  72.062500  74.151786  72.946429  74.812500
std   188.440807  113.188266  27.487026  28.377192  27.773809  29.030128

        Sp. Def      Speed  Generation  Legendary
mean  70.517857  65.964286    2.857143   0.035714
std   28.460493  23.019353    1.558800   0.186411
               #       Total         HP     Attack    Defense    Sp. Atk  \
mean  372.536337  435.859012  68.802326  79.790698  73.988372  72.495640
std   209.928799  121.091682  25.194299  33.025152  31.719933  33.292537

        Sp. Def      Speed  Generation  Legendary
mean  72.127907  68.654070    3.399709   0.088663
std   27.739292  29.925907    1.666119   0.284463

C:\Users\Kareem\AppData\Local\Temp\ipykernel_14452\2323047884.py:1: FutureWarning: ['Name', 'Type 1', 'Type 2'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  wat_stats=df[df['Type 1']=='Water'].apply([np.mean,np.std])
C:\Users\Kareem\AppData\Local\Temp\ipykernel_14452\2323047884.py:2: FutureWarning: ['Name', 'Type 1', 'Type 2'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  not_wat=df[df['Type 1']!='Water'].apply([np.mean,np.std])

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [52]:
stats.ttest_ind(water, rest,equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
"""
the p value is greater than 0.05, thus we cannot say that water pokemon are different
"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [54]:
stats.ttest_rel(df['Attack'],df['Defense'])[1]

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [55]:
"""
There is a difference between the pokemon's attack and defense
"""
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [56]:
stats.ttest_rel(df['Sp. Atk'],df['Sp. Def'])[1]

0.3933685997548122

Describe the results of the test in the cell below.

In [14]:
"""
The p value is greater than 0.5, thus we cannnot say that there is a difference between the sp atck and sp defense of each pokemon
"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [58]:
stats.ttest_1samp(df['Attack']-df['Defense'], popmean=0)[1]

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [61]:
df.loc[df['Type 1']== 'Water','Water type']=True

df.loc[df['Type 1']!= 'Water','Water type']=False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Water type
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,True
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,True
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,True
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,True
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False,True
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False,True
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False,True
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False,True
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False,True

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [64]:
x=pd.crosstab(df['Name'],[df['Legendary'],df['Water type']])

Based on a 95% confidence, should we reject the null hypothesis?

In [67]:
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(x, correction=False)
p

0.4788906497115103

In [ ]:
"""
Based on the p value, we cannot reject the null hypothesis
"""